
@font-face {
  font-family: 'josefin_sanssemibold';
  src: url('../fonts/josefin/josefinsans-semibold-webfont.eot');
  src: url('../fonts/josefin/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-semibold-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sanslight';
  src: url('../fonts/josefin/josefinsans-light-webfont.eot');
  src: url('../fonts/josefin/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-light-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-light-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sanssemibold_italic';
  src: url('../fonts/josefin/josefinsans-semibolditalic-webfont.eot');
  src: url('../fonts/josefin/josefinsans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-semibolditalic-webfont.svg#josefin_sanssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sansregular';
  src: url('../fonts/josefin/josefinsans-regular-webfont.eot');
  src: url('../fonts/josefin/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-regular-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-regular-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sansitalic';
  src: url('../fonts/josefin/josefinsans-italic-webfont.eot');
  src: url('../fonts/josefin/josefinsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-italic-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-italic-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-italic-webfont.svg#josefin_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sanslight_italic';
  src: url('../fonts/josefin/josefinsans-lightitalic-webfont.eot');
  src: url('../fonts/josefin/josefinsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-lightitalic-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-lightitalic-webfont.svg#josefin_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sansbold';
  src: url('../fonts/josefin/josefinsans-bold-webfont.eot');
  src: url('../fonts/josefin/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-bold-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-bold-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sansbold_italic';
  src: url('../fonts/josefin/josefinsans-bolditalic-webfont.eot');
  src: url('../fonts/josefin/josefinsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-bolditalic-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-bolditalic-webfont.svg#josefin_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sansthin_italic';
  src: url('../fonts/josefin/josefinsans-thinitalic-webfont.eot');
  src: url('../fonts/josefin/josefinsans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-thinitalic-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-thinitalic-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-thinitalic-webfont.svg#josefin_sansthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'josefin_sansthin';
  src: url('../fonts/josefin/josefinsans-thin-webfont.eot');
  src: url('../fonts/josefin/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/josefin/josefinsans-thin-webfont.woff') format('woff'),
    url('../fonts/josefin/josefinsans-thin-webfont.ttf') format('truetype'),
    url('../fonts/josefin/josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronregular';
  src: url('../fonts/aileron/aileron-regular-webfont.eot');
  src: url('../fonts/aileron/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-regular-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-regular-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-regular-webfont.svg#aileronregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronitalic';
  src: url('../fonts/aileron/aileron-italic-webfont.eot');
  src: url('../fonts/aileron/aileron-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-italic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-italic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-italic-webfont.svg#aileronitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronlight_italic';
  src: url('../fonts/aileron/aileron-lightitalic-webfont.eot');
  src: url('../fonts/aileron/aileron-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-lightitalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-lightitalic-webfont.svg#aileronlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronheavy';
  src: url('../fonts/aileron/aileron-heavy-webfont.eot');
  src: url('../fonts/aileron/aileron-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-heavy-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-heavy-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-heavy-webfont.svg#aileronheavy') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronblack';
  src: url('../fonts/aileron/aileron-black-webfont.eot');
  src: url('../fonts/aileron/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-black-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-black-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-black-webfont.svg#aileronblack') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronheavy_italic';
  src: url('../fonts/aileron/aileron-heavyitalic-webfont.eot');
  src: url('../fonts/aileron/aileron-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-heavyitalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-heavyitalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-heavyitalic-webfont.svg#aileronheavy_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronlight';
  src: url('../fonts/aileron/aileron-light-webfont.eot');
  src: url('../fonts/aileron/aileron-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-light-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-light-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-light-webfont.svg#aileronlight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronbold_italic';
  src: url('../fonts/aileron/aileron-bolditalic-webfont.eot');
  src: url('../fonts/aileron/aileron-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-bolditalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-bolditalic-webfont.svg#aileronbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronbold';
  src: url('../fonts/aileron/aileron-bold-webfont.eot');
  src: url('../fonts/aileron/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-bold-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-bold-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-bold-webfont.svg#aileronbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronblack_italic';
  src: url('../fonts/aileron/aileron-blackitalic-webfont.eot');
  src: url('../fonts/aileron/aileron-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-blackitalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-blackitalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-blackitalic-webfont.svg#aileronblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronsemibold';
  src: url('../fonts/aileron/aileron-semibold-webfont.eot');
  src: url('../fonts/aileron/aileron-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-semibold-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-semibold-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-semibold-webfont.svg#aileronsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronthin';
  src: url('../fonts/aileron/aileron-thin-webfont.eot');
  src: url('../fonts/aileron/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-thin-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-thin-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-thin-webfont.svg#aileronthin') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronultralight';
  src: url('../fonts/aileron/aileron-ultralight-webfont.eot');
  src: url('../fonts/aileron/aileron-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-ultralight-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-ultralight-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-ultralight-webfont.svg#aileronultralight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronthin_italic';
  src: url('../fonts/aileron/aileron-thinitalic-webfont.eot');
  src: url('../fonts/aileron/aileron-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-thinitalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-thinitalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-thinitalic-webfont.svg#aileronthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronsemibold_italic';
  src: url('../fonts/aileron/aileron-semibolditalic-webfont.eot');
  src: url('../fonts/aileron/aileron-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-semibolditalic-webfont.svg#aileronsemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'aileronultralight_italic';
  src: url('../fonts/aileron/aileron-ultralightitalic-webfont.eot');
  src: url('../fonts/aileron/aileron-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aileron/aileron-ultralightitalic-webfont.woff') format('woff'),
    url('../fonts/aileron/aileron-ultralightitalic-webfont.ttf') format('truetype'),
    url('../fonts/aileron/aileron-ultralightitalic-webfont.svg#aileronultralight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
body{
  background-color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-family: 'aileronregular'; 
  letter-spacing: 0.2em;
}

#ilogo {
  background-image: url("../images/AuxLogo.png");
  background-position: center top;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
  z-index: 4;
  cursor: pointer;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
  position: fixed;
  z-index: 10;
  right: 0;
  background-color: white;
  width: 325px;
  top: 0;
  margin-top: 0;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-toggle {
  float: right;
  padding: 18px 20px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0px;
  position: absolute;
  right: 10%;
  top: 89px;
}

#navbar{
  background-color: transparent;
  border: none;
  margin-top: 0;
  background-color: #0b3a5e;
  /*position: fixed;*/

  /*width: 100%;*/
  /*z-index: 3;*/
}

.page-header{
  display: none;
}

#wrapper_header{
  width: 100%;
  height: 150px;
  position: relative;
}
#views_slideshow_controls_text_pause_slideshowview-block{
  display: none;
}
.front .views_slideshow_controls_text_previous {
  display: inline-block;
  width: 82px;
  height: 80px;
  background: url("../images/pijlLinks.png") no-repeat;
  font-size: 1px;
  color: transparent;
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: 4;
}
.front .views_slideshow_controls_text_previous:hover {
  border: none;
}
.front .views_slideshow_controls_text_next:hover {
  border: none;
}
.front .views_slideshow_controls_text_next {
  display: inline-block;
  width: 82px;
  height: 80px;
  background: url("../images/pijlRechts.png") no-repeat;
  font-size: 1px;
  color: transparent;
  position: absolute;
  left: 90%;
  top: 50%;
  z-index: 4;
}
#auxilium_tijd{

  background: url("../images/AuxiliumTijd.png") no-repeat;/*1773 × 577*/
  background-size: 100%;
  width: 100%;
  height: 10px;

}
#auxilium_tijd_lees_meer{
  background: url("../images/leesMeerTijd.png") no-repeat;/*383 × 73*/
  width: 383px;
  height: 73px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left:695px;

}

#block-views-slideshowview-block h2{
  display: none;
}
#block-block-2 h2{
  display: none;
}

.footer {
  border: none;
}
#ErvaringBlock{
  background: url("../images/ervaring.png") no-repeat;/*1773 × 577*/
  background-size: 100%;
  width: 100%;
  height: 10px;
}
#ErvaringLeesMeer{
  background: url("../images/leesMeerTijd.png") no-repeat;/*383 × 73*/
  width: 383px;
  height: 73px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  /*bottom: 0;*/
  left:695px;
}
#block-block-3 h2{
  display: none;
}
#contactBlock{
  background: url("../images/contact.png") no-repeat;/*1773 × 577*/
  background-size: 100%;
  width: 100%;
  height: 10px;

}
#block-block-4 h2{
  display: none;
}
.container {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  width: 100%;

}
.front .view-content{
  position: relative;
}

.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.footer{

  width: 100%;

}

.front .col-sm-12 {
  padding-right: 0px;
  background-color: black;
}
.navbar-header{
  position: fixed;
  z-index: 6;
  width: 100%;
  background-color: white;
}

/**/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: white;
  border-bottom: 1px solid #e4a529;
  margin-left: 35%;
  padding: 0;
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 40px;
  width: 30%;
  margin-right: 35%;
  padding-bottom: 4%;
}
.nav li{
  border-bottom: 1px solid #D3D3D3;

}
.first >.active>a{
  margin-left: 9%;
}
.first a{
  border: none  !important;
  cursor: default;
  font-size: x-large;
  margin-top: 10px;
}
ul.secondary{
  top: 172px;
}
.nav .first{
  height: 141px;

}
#grondig{
  font-weight: 100;
  font-size: 1.32em;
  font-family: 'aileronultralight'; 
  padding-top: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white;
  outline: none;
  width: 53px;
  height: 53px;
  border-color: #ddd;
}
.navbar-default .navbar-toggle{
  width: 53px;
  height: 53px;
  outline: none;
}
#TijdVakFoto{
  cursor: pointer;
}
#TijdTekst{
  background-color: black;
  color: white;
  font-size: x-large;
  font-weight: 100;
  padding: 2%;

}

#TijdTekst{
  position: relative;
  /*width: 250px;*/
  /*height: 100px;*/
  padding: 2%;
  background: #0d0d0c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#TijdTekst:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #0d0d0c transparent;
  display: block;
  width: 0;
  z-index: 1;
}

#ervaringText:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #0d0d0c transparent;
  display: block;
  width: 0;
  z-index: 1;
}
#ervaringText{
  position: relative;
  padding: 2%;
  background: #0d0d0c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: x-large;
  font-weight: 100;
  padding: 2%;
}
#block-block-5{
  background-color: white;
}
#block-block-5 h2{
  display: none;
}
#socialContainer{
  margin-left: auto;
  margin-right: auto;
  width: 78px;
  padding-top: 3%;
  text-align: center;
}
#socialContainer img{
  padding: 5px;
}

.nav .first .active{
  background-color: green;
  padding-top: 0;
}

.link_administratie{
  margin-left: 9%;
}
#administratie{
  margin-bottom: 0%;
  padding-bottom: 1%;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: large;

}
#ervaringFoto{
  cursor: pointer;
}
.navbar-default .navbar-toggle .icon-bar {
  display: none;
}

.navbar-toggle{
  background-image: url("../images/menuClosed.png");
  background-size:100%;
}

#OnzeTekst{
  height: 15px;
  min-height:25px;
  overflow:hidden;
}
.alert-danger{
  display: none;
}
#block-block-4 img{
  cursor: pointer;
}
.views_slideshow_controls_text span:hover {
  text-decoration: none;
  cursor: pointer;
}
#socialContainer a{
  margin: 4px;
  float: left;
  background-color: #d3d3d3;
  width: 31px;
  height: 31px;
  border-radius: 20px;
}
#views_slideshow_controls_text_previous_slideshowview-block a{
  position: absolute;
  width: 1px;
  opacity: 0;
  color: white;
  text-decoration: none;
  z-index: 2;
}
.front .views_slideshow_controls_text_next a{
  position: absolute;
  width: 1px;
  opacity: 0;
  color: white;
  text-decoration: none;
  z-index: 2;
}
#tekst{
  position: absolute;
  z-index: 10;
  width: 100%;
  color: black;
}
#contactTitle{
  display: inline-block;
}
#tekst h2{
  text-align: center;
  display: inline-block;
  font-size: 7.5em;
}
#tekst p{
  padding-bottom: 0;
  margin-bottom: 0;
}
#tekstContact2{

}
#subtitleContact{
  font-weight: bolder;
  font-size: 4em;
}
#gemeente{
  font-weight: bolder;
  font-size: x-large;
  font-style: normal;

}
#tel{
  font-weight: bolder;
  font-style: normal;
  font-size: x-large;
}
#email{
  font-weight: bolder;
  font-style: normal;
  font-size: x-large;
}
#innerTekst{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}